.forecast-data {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  max-width: 900px;
}

@media (max-width: 825px) {
  .forecast-data {
    flex-direction: column;
  }
}
